<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URL Shortener</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>
        <h1>URL Shortener</h1>
        <div class="cont">
            <p>This is a URL shortener where you enter a valid URL into the input, and you'll be returned 
                a JSON object, which will have the URL you inputted and a new URL, the new URL can appended to '/api/shorturl/' to redirect you to the original url.
            </p>
            <p>For example <a href="/api/shorturl/5">'/api/shorturl/5'</a> will redirect you to github.</p>
            <p>If you input an invalid URL you'll be returned an error stating your URL is invalid.</p>
            <p>Please enter a URL in the format 'https://www.domain.com'.</p>
        </div>
        <div class="form-cont">
            <form action="/api/shorturl/new" method="POST"id="form">
                <input type="text" placeholder="Enter URL to shorten" name="url" autocomplete="off">
                <button>POST URL</button>
            </form>
        </div>
    </body>
</html>